* {
  user-select: none;
}
body {
  background: #111;
}
#box {
  width: 1100px;
  height: 350px;
  margin: 200px auto 0 auto;
  overflow: hidden;
  position: relative;
}
#picBox {
  transition: transform 0.25s cubic-bezier(0.25,1.2,0.5,1.2);
  transform: translateX(440px);
  position: relative;
  z-index: -1;
}
.pic {
  position: relative;
  border: solid 10px #fff;
  float: left;
  width: 180px;
  height: 124px;
  margin: 50px 10px;
  padding-top: 6px;
  background: #fff;
  transition: all .25s;
  counter-increment: num;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  user-select: text;
  text-align: center;
  
  filter: blur(2px);
}
.pic::before {
  content: counter(num);
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: bolder;
  position: absolute;
  bottom: -16px;
  left: 70px;
  text-align: center;
}
.pre,
.next {
  transform: scale(1.25);
  filter: blur(1px);
}
.now {
  transform: scale(1.5);
  z-index: 9999999999999;
  filter: none;
}


#buttonBlock{
  width: 300px;
  margin:300px auto 0 auto;
  display: flex;
  justify-content: space-around;
}
.button {
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 36px;
  line-height: 50px;
  font-weight: bolder;
  color: #000;
  z-index: 999;
  opacity: .6;
  transition: all .1s;
}
.button:hover{
  opacity: 1;
}

#preButton {
  left: 0px;
}
#nextButton {
  right: 0px;
}
#preButton,
#nextButton {
  width: 50px;
  background-color: #fff;
  top: 95px;
}
#addButton {
  width: 100px;
  background-color: #00dd0b;
  top: 260px;
  left: 520px;
}
